.dialog-content {
    padding: 20px;
    background-color: #f7f9fc;
  }
  
  .dialog-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-align: center;
  }
  
  .form-control {
    margin-bottom: 15px;
  }
  
  .select-input {
    background-color: #fff;
    border-radius: 5px;
  }
  
  .cancel-button {
    background-color: #f44336;
    color: white;
  }
  
  .ok-button {
    background-color: #4caf50;
    color: white;
  }
  
  .dialog-actions {
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
  }
  